version: "3.1"

services:
  web:
    image: nginx-web
    build:
      context: ./web
      args:
        - REACT_APP_API_CONTEXT=/api
        - REACT_APP_API_OAUTH_DOMAIN=fsxh.eu.auth0.com
        - REACT_APP_API_OAUTH_CLIENT_ID=Y1xPvsicGb3I1Rut6wiCZW1DUmO6TaIJ
        - REACT_APP_API_HOST=https://localhost
    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ./web/nginx/cert/localhost.crt:/etc/ssl/localhost.crt
      - ./web/nginx/cert/localhost.key:/etc/ssl/localhost.key
    networks:
      - frontend
      - backend
  api:
    image: nginx-api
    build:
      context: ./api
      args:
        - API_CONTEXT=/api
        - MONGO_URI=mongodb://mongo:27017/appdb
    depends_on:
      - mongo
    networks:
      - backend

  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    networks:
      - backend

networks:
  frontend:
  backend:
